body{
margin: auto;
width: 800px;
font-family: Helvetica;
font-size: 14px;
line-height: 18px;
}
h2{
font-family: consolas;
font-size: 25px;
font-weight: normal;
line-height:45px;
text-align: center;
}
h3{
font-family: arial;
font-size: 18px;
font-weight: normal;
line-height:25px;
}
#main{
width: 600px;
}
#picture{
width: 934px;
float: right;
padding-top: 10px;
padding-bottom: 30px;
margin: auto;
}
#picture img{
float: left;
border-bottom: 1px #000
}